body {
  background-color: #F5F5F5;
  min-height: 100vh;
  min-width: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Helvetica Bold, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px 0.4vh #D0D0D0;
  width: calc(100% - 20vw);
  align-self: center;
}
#content-container > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
}
#content-container > header > section, #content-container > header > nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content-container > main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content-container > main > h2 {
  font-size: 3vh;
  margin-bottom: 4vh;
}
#content-container > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-bottom: 3vh;
}
#content-container > footer > section {
  margin-bottom: 4vh;
  width: 90%;
}
#content-container > footer p {
  text-align: left;
  margin-bottom: 2vh;
  font-size: 1.8vh;
  color: #606060;
}
#content-container > footer p:last-child {
  margin-bottom: 0px;
}
#content-container > footer nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 1vh 0px;
  display: inline;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 5vh;
  color: white;
  text-shadow: -0.2vh -0.1vh 0px rgb(238, 92, 75), 0.2vh 0.1vh 0px #101010;
  transition: text-shadow 0.5s ease;
}
.logo:hover {
  text-shadow: -0.3vh -0.1vh 0px #ec4734, 0.3vh 0.1vh 0px #101010;
  color: #f2f2f2;
}

#search-field {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  height: 4.5vh;
  font-size: 1.8vh;
  padding-left: 1vh;
  width: 27vh;
}

#clear-search {
  width: 15vh;
}

#load-more {
  width: 20vh;
  margin: 0px;
}

.button {
  border-radius: 0px;
  border: 1px solid rgb(238, 92, 75);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(238, 92, 75);
  font: inherit;
  transition: color, background-color 0.2s ease;
  height: 4.5vh;
  width: 10vh;
  margin-left: 2vh;
  font-size: 1.8vh;
}
.button:hover {
  color: white;
  background-color: rgb(238, 92, 75);
}

.pages-enumeration {
  width: 50vh;
  display: flex;
  justify-content: space-between;
  font-size: 2.3vh;
}
.pages-enumeration > a {
  color: rgb(238, 92, 75);
  text-decoration: none;
}
.pages-enumeration > a:visited {
  color: rgb(238, 92, 75);
}
.pages-enumeration > a:hover {
  color: #c12412;
}

.add-teacher-button, .big-button {
  border-radius: 0px;
  border: 1px solid rgb(238, 92, 75);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(238, 92, 75);
  font: inherit;
  transition: color, background-color 0.2s ease;
  height: 6vh;
  width: 21vh;
  font-size: 2.5vh;
}
.add-teacher-button:hover, .big-button:hover {
  color: white;
  background-color: rgb(238, 92, 75);
}

hr {
  display: inline-block;
  width: 40%;
  margin: 4vh 0px;
  align-self: center;
  border-top: 1px solid #303030;
}

#top-list-filters {
  display: flex;
  width: 90%;
  margin-bottom: 4vh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-container {
  display: flex;
  height: 4.5vh;
  width: max-content;
  margin: 0px 2vh;
  align-items: center;
}
.filter-container > label {
  font-size: 1.9vh;
  margin-right: 2vh;
  color: #606060;
}

.filter-container[data-input-type=checkbox] > input {
  margin: 0;
}
.filter-container[data-input-type=checkbox] > label {
  margin-left: 1vh;
  margin-right: 0px;
}

select {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  height: 4.5vh;
  font-size: 1.8vh;
  padding-left: 1vh;
  width: 12vh;
}

.dotted-vertical-line {
  border-left: 1px dotted #101010;
  height: 3.5vh;
  margin: 0px;
}

.top-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
}

.teacher-card {
  min-width: 25vh;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.teacher-card > * {
  margin-bottom: 2vh;
}
.teacher-card > .portrait-container {
  border-radius: 50%;
  border: 0.5vh solid #f59b91;
  width: 17vh;
  height: 17vh;
  overflow: hidden;
  transition-property: color, border-color, font-size;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(238, 92, 75);
  font-size: 3vh;
}
.teacher-card > .portrait-container:hover {
  color: #d82914;
  border-color: #d82914;
  font-size: 3.5vh;
}
.teacher-card > .portrait-container > img {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  width: 17.5vh;
  height: 17.5vh;
}
.teacher-card > .portrait-container > img:hover {
  transform: scale(1.25);
}
.teacher-card-name {
  display: block;
  font-size: 2.5vh;
}
.teacher-card-course {
  font-size: 1.8vh;
  color: #707070;
}
.teacher-card-country {
  font-size: 1.3vh;
}
.teacher-card .favorite-teacher {
  position: absolute;
  width: 5vh;
  height: 5vh;
  margin-left: 15vh;
}

#piechart-statistics {
  width: 90%;
  height: 50vh;
  display: flex;
  overflow-x: scroll;
}
#piechart-statistics .piechart-container {
  width: max-content;
  margin: 0vh 10vh 5vh 10vh;
}

.table-pages {
  width: 90%;
  display: flex;
}
.table-pages > span {
  padding: 2vh;
  font-size: 2vh;
}
.table-pages button {
  border: none;
  background-color: white;
  color: rgb(67, 162, 177);
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 2vh;
}
.table-pages button[data-selected=true] {
  color: #101010;
}
.table-pages button:hover {
  color: #275e67;
}

.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0vh 1vh;
}
.carousel > button {
  width: 5%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.carousel > button > img {
  width: 100%;
}

.carousel-list {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 31vh;
  overflow-x: scroll;
}
.carousel-list .teacher-card {
  height: 31vh;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(208, 208, 208, 0.5);
  backdrop-filter: blur(5px);
}
.popup .popup-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 95%;
  width: 70vh;
}
.popup .popup-container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #404040;
}
.popup .popup-container > header > .popup-title {
  height: 7vh;
  padding-left: 2vh;
  display: flex;
  align-items: center;
  font-size: 2.5vh;
  color: #FFFFFF;
}
.popup .popup-container > header .close-popup {
  height: 7vh;
  width: 7vh;
  box-sizing: border-box;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-size: 2.5vh;
}
.popup .popup-container > form {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3vh;
  padding: 2vh 4vh;
  overflow-y: scroll;
}
.popup .popup-container > form > fieldset {
  display: grid;
  align-content: space-evenly;
  justify-items: flex-start;
}
.popup .popup-container > form > fieldset label {
  color: #606060;
  font-size: 1.8vh;
}
.popup .popup-container > form > fieldset:nth-child(1), .popup .popup-container > form > fieldset:nth-child(2), .popup .popup-container > form > fieldset:nth-child(10) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.popup .popup-container > form > fieldset:nth-child(7), .popup .popup-container > form > fieldset:nth-child(8), .popup .popup-container > form > fieldset:nth-child(9) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.popup .popup-container > form > fieldset:nth-child(8), .popup .popup-container > form > fieldset:nth-child(9) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup .popup-container > form > fieldset:nth-child(8) #sex-input, .popup .popup-container > form > fieldset:nth-child(9) #sex-input {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.popup .popup-container > form > fieldset:nth-child(8) > label, .popup .popup-container > form > fieldset:nth-child(9) > label {
  align-self: center;
}
.popup .popup-container > form > fieldset:nth-child(8) #female, .popup .popup-container > form > fieldset:nth-child(8) #male, .popup .popup-container > form > fieldset:nth-child(9) #female, .popup .popup-container > form > fieldset:nth-child(9) #male {
  align-self: center;
  width: 2vh;
  height: 2vh;
}
.popup .popup-container > form > fieldset:nth-child(8) #color-input, .popup .popup-container > form > fieldset:nth-child(9) #color-input {
  width: 8vh;
  height: 4vh;
  align-self: center;
}
.popup .popup-container > form > fieldset:nth-child(8) #female, .popup .popup-container > form > fieldset:nth-child(9) #female {
  margin-left: 2vh;
}
.popup .popup-container > form > fieldset > textarea {
  width: 100%;
  height: 15vh;
  resize: none;
}
.popup .popup-container > form #date-input {
  font-family: Helvetica Bold, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.8vh;
}
.popup .popup-container > form select {
  width: 100%;
  color: #606060;
}
.popup .popup-container > form input:not(input[type=radio]) {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  height: 4.5vh;
  font-size: 1.8vh;
  padding-left: 1vh;
  width: 100%;
  color: #606060;
}
.popup .popup-container > form input:not(input[type=radio]).invalid-data {
  border-color: rgb(219, 41, 22);
  border-width: 2px;
}
.popup .popup-container > form textarea.invalid-data {
  border-color: rgb(219, 41, 22);
  border-width: 2px;
}
.popup .popup-container > form > button {
  width: 100%;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

#teacher-info .teacher-info-buttons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#teacher-info .popup-container {
  height: 55vh;
  width: 90vh;
  min-width: 40vh;
}
#teacher-info .popup-container main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2vh;
  overflow-y: scroll;
}
#teacher-info #favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 5vh;
  box-sizing: border-box;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
#teacher-info #favorite-button > img {
  width: 3vh;
  height: 3vh;
}
#teacher-info #teacher-card-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}
#teacher-info #teacher-card-info > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4vh;
}
#teacher-info #teacher-card-info > section #teacher-card-location, #teacher-info #teacher-card-info > section #teacher-card-age, #teacher-info #teacher-card-info > section #teacher-card-email, #teacher-info #teacher-card-info > section #teacher-card-tel, #teacher-info #teacher-card-info > section #teacher-card-birthday {
  margin: 0px 0px 2vh 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5vh;
}
#teacher-info #teacher-card-info #teacher-card-portrait {
  float: left;
  height: 30vh;
  width: 30vh;
}
#teacher-info #teacher-card-info #teacher-card-name {
  margin: 0px 0px 2vh 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3.5vh;
}
#teacher-info #teacher-card-info #teacher-card-speciality {
  margin: 0px 0px 2vh 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2vh;
}
#teacher-info #teacher-card-description {
  display: flex;
  flex-direction: column;
}
#teacher-info #teacher-card-description > * {
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 2vh;
  margin-bottom: 2vh;
}
#teacher-info #teacher-card-description details {
  margin: 0px;
}
#teacher-info #teacher-card-description details > summary {
  list-style-type: none;
  color: rgb(67, 162, 177);
  text-decoration: underline dotted rgb(67, 162, 177);
}
#teacher-info #teacher-card-description details div#teacher-map {
  height: 40vh;
  width: 60vh;
}

@media screen and (max-aspect-ratio: 1189/674) {
  .top-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-aspect-ratio: 1054/758) {
  .top-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-aspect-ratio: 800/758) {
  .logo-box-section {
    display: flex;
    flex-direction: column;
  }
  .search-box-section {
    display: flex;
    align-content: center;
    margin: 1vh 0px;
    width: 100%;
  }
  .search-box-section #search-field {
    width: calc(100% - 12vh);
  }
  .pages-enumeration {
    flex-direction: row;
    width: 100%;
  }
  .pages-enumeration a {
    margin: 1vh;
  }
  nav {
    flex-direction: column;
  }
  nav > button.add-teacher-button {
    margin-top: 1vh;
    width: 100%;
  }
  #load-more {
    width: 90%;
  }
  #top-list-filters {
    flex-direction: column;
  }
  #top-list-filters .filter-container {
    margin-bottom: 1vh;
  }
  #top-list-filters .filter-container > select {
    width: 15vh;
  }
  #top-list-filters .dotted-vertical-line {
    display: none;
  }
  .top-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-aspect-ratio: 570/758) {
  .pages-enumeration {
    flex-wrap: wrap;
  }
  .top-list {
    overflow-x: scroll;
  }
  #content-container {
    width: 100%;
  }
  #teacher-info {
    justify-content: normal;
    overflow-x: scroll;
  }
  #teacher-info .popup-container {
    height: 100%;
    width: 100%;
  }
  #teacher-info .popup-container main {
    height: 100%;
  }
  #add-teacher .popup-container {
    height: 100%;
    width: 100%;
  }
  #add-teacher .popup-container form {
    height: 100%;
  }
}
@media screen and (max-aspect-ratio: 400/758) {
  .pages-enumeration {
    font-size: 2vh;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
