$primary-color: rgb(238, 92, 75);
$content-width: 90%;

@mixin basicButtonStyle {
    border-radius: 0px;
    border: 1px solid $primary-color;
    background-color: rgba($color: #000000, $alpha: 0.0);
    color: $primary-color;
    font: inherit;
    transition: color, background-color 0.2s ease;

    &:hover {
        color: rgba($color: #FFFFFF, $alpha: 1.0);
        background-color: $primary-color;
    }
}    

@mixin basicInputStyle {
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    height: 4.5vh;
    font-size: 1.8vh;
    padding-left: 1vh;
}

@mixin basicAvatarStyle {
    border-radius: 50%;
    border: 0.5vh solid lighten($color: $primary-color, $amount: 15);
    width: 17vh;
    height: 17vh;
    overflow: hidden;

    transition-property: color, border-color, font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &:hover {
        color: darken($color: $primary-color, $amount: 15);
        border-color: darken($color: $primary-color, $amount: 15);
        font-size: 3.5vh;
    }
}

body{
    background-color: #F5F5F5;
    min-height: 100vh;
    min-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica Bold, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#content-container {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0.4vh #D0D0D0;
    width: calc(100% - 20vw);
    align-self: center;

    & > header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3vh;
    
        & > section, > nav {
            width: $content-width;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    & > main{

        display: flex;
        flex-direction: column;
        align-items: center;
    
        > h2 {
            font-size: 3vh;
            margin-bottom: 4vh;
        }
    } 

    & > footer {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        padding-bottom: 3vh;
    
        & > section {
            margin-bottom: 4vh;
            width: $content-width;
        }
    
        & p {
            text-align: left;
            margin-bottom: 2vh;
            font-size: 1.8vh;
            color: #606060;
    
            &:last-child {
                margin-bottom: 0px;
            }
        }
    
        nav {
            width: $content-width;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}


.logo{
    margin: 1vh 0px;
    display: inline;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 5vh;
    color: white;
    text-shadow: -0.2vh -0.1vh 0px $primary-color, 0.2vh 0.1vh 0px #101010;
    transition: text-shadow 0.5s ease;

    &:hover {
        text-shadow: -0.3vh -0.1vh 0px darken($color: $primary-color, $amount: 5), 0.3vh 0.1vh 0px #101010;
        color: darken($color: white, $amount: 5);
    }
}

#search-field {
    @include basicInputStyle;
    width: 27vh;
}

#clear-search {
    width: 15vh;
}

#load-more {
    width: 20vh;
    margin: 0px;
}

.button {
    @include basicButtonStyle;
    height: 4.5vh;
    width: 10vh;
    margin-left: 2vh;
    font-size: 1.8vh;
}

.pages-enumeration {

    width: 50vh;
    display: flex;
    justify-content: space-between;
    font-size: 2.3vh;
    
    > a {
        color: $primary-color;
        text-decoration: none;

        &:visited {
            color: $primary-color
        }

        &:hover {
            color: darken($color: $primary-color, $amount: 20);
        }
    }
}

.add-teacher-button, .big-button {
    @include basicButtonStyle;
    height: 6vh;
    width: 21vh;
    font-size: 2.5vh;
}

hr {
    display: inline-block;
    width: 40%;
    margin: 4vh 0px;
    align-self: center;
    border-top: 1px solid #303030;
}

#top-list-filters {
    display: flex;
    width: $content-width;
    margin-bottom: 4vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.filter-container{
    display: flex;
    height: 4.5vh;
    width: max-content;
    margin: 0px 2vh;
    align-items: center;

    > label {
        font-size: 1.9vh;
        margin-right: 2vh;
        color: #606060;
    }
}

.filter-container[data-input-type="checkbox"]{
    > input {
        margin: 0;
    }
    > label {
        margin-left: 1vh;
        margin-right: 0px;
    }
}

select {
    @include basicInputStyle;
    width: 12vh;
}

.dotted-vertical-line {
    border-left: 1px dotted #101010;
    height: 3.5vh;
    margin: 0px;
}

.top-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: $content-width;
}

.teacher-card {

    min-width: 25vh;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > * {
        margin-bottom: 2vh;
    }

    & > .portrait-container {
        @include basicAvatarStyle;


        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        font-size: 3vh;

        & > img {
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: ease;

            width: 17.5vh;
            height: 17.5vh;

            &:hover {
                transform: scale(1.25);
            }
        }
    }

    &-name {
        display: block;
        font-size: 2.5vh;
    }

    &-course {
        font-size: 1.8vh;
        color: #707070;
    }

    &-country {
        font-size: 1.3vh;
    }

    .favorite-teacher {
        position: absolute;
        width: 5vh;
        height: 5vh;
        margin-left: 15vh;
    }
}

#piechart-statistics {

    width: 90%;
    height: 50vh;
    display: flex;
    overflow-x: scroll;

    & .piechart-container {
        width: max-content;
        margin: 0vh 10vh 5vh 10vh;
    }
}

.table-pages {

    width: $content-width;
    display: flex;

    & > span {
        padding: 2vh;
        font-size: 2vh;
    }

    & button {
        border: none;
        background-color: rgba($color: #FFFFFF, $alpha: 1.0);
        color: rgb(67, 162, 177);
        text-decoration: none;
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 2vh;

        &[data-selected="true"]{
            color: #101010;
        }

        &:hover {
            color: darken($color: rgb(67, 162, 177), $amount: 20)
        }
    }
}

.carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0vh 1vh;

    & > button {
        
        width: calc((100% - $content-width)/2);
        border: none;
        background-color: rgba($color: #000000, $alpha: 0.0);

        & > img {
            width: 100%;
        }
    }
}

.carousel-list {
    display: flex;
    flex-direction: row;
    width: $content-width;
    height: 31vh;
    overflow-x: scroll;

    & .teacher-card {
        height: 31vh;
    }
}

.popup {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba($color: #D0D0D0, $alpha: 0.5);
    backdrop-filter: blur(5px);

    & .popup-container {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        height: 95%;
        width: 70vh;

        & > header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #404040;

            & > .popup-title {
                height: 7vh;
                padding-left: 2vh;
                display: flex;
                align-items: center;
                font-size: 2.5vh;
                color: #FFFFFF;
            }

            .close-popup {
                height: 7vh;
                width: 7vh;
                box-sizing: border-box;
                border: none;
                background-color: rgba($color: #000000, $alpha: 0.0);
                color: #FFFFFF;
                font-size: 2.5vh;
            }
        }

        & > form {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 3vh;
            padding: 2vh 4vh;
            overflow-y: scroll;

            & > fieldset{

                display: grid;
                align-content: space-evenly;
                justify-items: flex-start;

                & label {
                    color: #606060;
                    font-size: 1.8vh;
                }
        
                &:nth-child(1), &:nth-child(2), &:nth-child(10) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                &:nth-child(7), &:nth-child(8), &:nth-child(9){
                    grid-column-start: 1;
                    grid-column-end: 2;
                }

                &:nth-child(8), &:nth-child(9) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    #sex-input {
                        display: flex;
                        flex-direction: row;
                        align-self: center;
                        
                    }

                    & > label {
                        align-self: center;
                    }

                    & #female, #male {
                        align-self: center;
                        width: 2vh;
                        height: 2vh;
                    }

                    #color-input {
                        width: 8vh;
                        height: 4vh;
                        align-self: center;
                    }

                    #female {
                        margin-left: 2vh;
                    }
                }

                & > textarea {
                    width: 100%;
                    height: 15vh;
                    resize: none;
                }
            }

            & #date-input {
                font-family: Helvetica Bold, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1.8vh;
            }

            & select {
                width: 100%;
                color: #606060;
            }
    
            & input:not(input[type="radio"]) {
                @include basicInputStyle;
                width: 100%;
                color: #606060;

                &.invalid-data {
                    border-color:rgb(219, 41, 22);
                    border-width: 2px;
                }
            }

            textarea.invalid-data {
                border-color:rgb(219, 41, 22);
                border-width: 2px;
            }

            & > button {
                width: 100%;
                align-self: center;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
}

#teacher-info {

    .teacher-info-buttons-container {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    & .popup-container {
        height: 55vh;
        width: 90vh;
        min-width: 40vh;

        & main {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 2vh;
            overflow-y: scroll;
        }
    }

    #favorite-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5vh;
        height: 5vh;
        box-sizing: border-box;
        border: none;
        background-color: rgba($color: #000000, $alpha: 0.0);

        & > img {
            width: 3vh;
            height: 3vh;
        }
    }

    #teacher-card-info {

        display: flex;
        flex-direction: row;
        margin-bottom: 3vh;

        & > section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 4vh;

            & #teacher-card-location, #teacher-card-age, #teacher-card-email, #teacher-card-tel, #teacher-card-birthday {
                margin: 0px 0px 2vh 0px;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 1.5vh;
            }
        }

        #teacher-card-portrait{
            float: left;
            height: 30vh;
            width: 30vh;
        }

        #teacher-card-name {
            margin: 0px 0px 2vh 0px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 3.5vh;
        }

        #teacher-card-speciality {
            margin: 0px 0px 2vh 0px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 2vh;
        }
    }

    #teacher-card-description {

        display: flex;
        flex-direction: column;

        & > * {
            text-align: left;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: lighter;
            font-size: 2vh;
            margin-bottom: 2vh;
        }

        & details {
            margin: 0px; 
            & > summary {
                list-style-type: none;
                color: rgb(67, 162, 177);
                text-decoration: underline dotted rgb(67, 162, 177);
            }
            
            & div#teacher-map {
                height: 40vh;
                width: 60vh;
            }
        }
    }
}
@media screen and (max-aspect-ratio: 1189/674) {
    .top-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-aspect-ratio: 1054/758) {
    .top-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-aspect-ratio: 800/758) {

    .logo-box-section {
        display: flex;
        flex-direction: column;
    }

    .search-box-section {
        display: flex;
        align-content: center;
        margin: 1vh 0px;
        width: 100%;
        #search-field {
            width: calc(100% - 12vh);
        }
    }
        
    .pages-enumeration {
        
        flex-direction: row;
        width: 100%;

        & a { 
             margin: 1vh;
        }
    }

    nav {
        flex-direction: column;

        & > button.add-teacher-button {
            margin-top: 1vh;
            width: 100%;
        }
    }

    #load-more {
        width: 90%;
    }
    
    #top-list-filters {

        flex-direction: column;

        & .filter-container{
            margin-bottom: 1vh;

            & > select {
                width: 15vh;
            }
            
        }

        .dotted-vertical-line {
            display: none;
        }
    }

    .top-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-aspect-ratio: 570/758) {

    .pages-enumeration {
        flex-wrap: wrap;
    }

    .top-list {
        overflow-x: scroll;
    }

    #content-container {
        width: 100%;
    }

    #teacher-info {

        justify-content: normal;
        overflow-x: scroll;

        .popup-container {
            height: 100%;
            width: 100%;

            & main {
                height: 100%;
            }
        }
    }   

    #add-teacher .popup-container {
        height: 100%;
        width: 100%;

        & form {
            height: 100%;
        }
    }
}


@media screen and (max-aspect-ratio: 400/758) {
    .pages-enumeration {
        font-size: 2vh;
        justify-content: space-around;
    }
}